{:deps  {org.clojure/clojure       {:mvn/version "1.11.0"}
         org.clojure/clojurescript {:mvn/version "1.11.4"}}
 :paths ["src"]

 :aliases
 {:dev  {:extra-paths ["dev"]}
  :test {:extra-paths ["test"]}
  
  :run-tests
  {:extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :extra-paths ["test"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:patterns [".*test-.*"]}}

  :test-js/build
  {:extra-paths ["test-js/__cljs__"]
   :main-opts   ["-m" "cljs.main"
                 "-co" "test-js/__cljs__/cljsc_opts.edn"
                 "-c"]}}}
