{:deps  {org.clojure/clojure       {:mvn/version "1.11.0"}
         org.clojure/clojurescript {:mvn/version "1.11.4"}}
 :paths ["src"]

 :aliases
 {:dev  {:extra-paths ["dev"]}
  :test {:extra-paths ["test"]}
  
  :run-tests
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts ["-m" "cognitect.test-runner"]}

  :test-js/build
  {:extra-paths ["test-js/__cljs__"]
   :main-opts   ["-m" "cljs.main"
                 "-co" "test-js/__cljs__/cljsc_opts.edn"
                 "-c"]}}}
